
body{
    background-color: #f4f7f6;
    /* margin-top:20px; */
}

.container {
    margin-top:20px;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}


/* ------------------------------------------------------------ */

   /* #friends {
       // visibility: hidden; 
   } */
   #no-friends {
       position: absolute;
       width: 200px;
       height: 70px;
       top: 30%;
       left:3%;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-left: 0.4rem;
       border-radius: 0.4rem;
       color: rgb(193, 183, 183,1.8);
   }

   #friends.chat-list img {
       width: 46px;
       height: 45px;
       border: 2px solid #b8b8b8;
       object-fit: cover;
   }

   /* div.col-lg-6#friend_chat_box_profile img {
       width: 40px;
       height: 41px;
       object-position: center;
       object-fit: cover;
   } */

   div.col-lg-6#selected-friend-profile-container img#selected-friend-profile-img {
    width: 40px;
    height: 41px;
    object-position: center;
    object-fit: cover;
}

div.chat div.chat-history div.other-message:after {
     display: none;
}

div.chat div.chat-history div.my-message:after {
   display: none;
}
div.chat div.chat-history div.message-data{
   margin-bottom: 5px;
}


div.chat div.chat-history {
    padding: 0;
}

div.chat div.chat-history ul.m-b-0{
    margin-bottom: 0;
    padding: 20px 20px 0 20px;
}

.chat .chat-history .other-message {
    min-width: max-content;
    max-width: 90%;
}


li.fri-list {
   position: relative;
}

div.unchecked-mess-box{
  position: absolute;
  top: 30%;
  right: 10%;
  min-width: 24px;
  min-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 50%;
  font-size: 0.8rem;
  /* display: flex; */
  /* because at first event will be hidden*/
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #7dc530;
  color: rgb(31, 3, 3);
}

div.unchecked-mess-box p {
    width: min-content;
    height: min-content;
    padding: 0 0.2rem;
    margin-bottom: 0;
}


div.visible {
    display: flex;
}

#unread-chat-count {
    margin-left: 40%; 
    border: 1px solid rgb(56, 56, 56); 
    background-color: aliceblue;width: fit-content; 
    padding: 0 0.2rem;
    border-radius: 5px;
}


/* loading popup styles---------------------------------------- */

 /* body { */
    /* height: 90vh; */
    /* background: #1d2630; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
/* }  */

.spinner-box {
    width: 160px;
    height: 160px;
    /* display: flex; */
    /* normally display is none cause we dont want to show directly */
    display: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 44%;
    left: 53%;
}

.circle-box {
    width: 82px;
    height: 82px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(104, 104, 104);
    background: linear-gradient(0deg,rgba(63,249,220,0.1),33%,rgb(204, 204, 204),100%);
    animation: spin .8s linear 0s infinite;
}

div.circle-core {
    width: 100%;
    height: 100%;
    /* background: #fffafa; */
    background: white;
    border-radius: 50%;
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
} 

/* loading popup styles---------------------------------------- */



/* ------------------------------------------------------------ */


/* @media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
} */

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
} */

body {
    position: relative;
    overflow-y: hidden;
}

.blur {
      visibility: hidden;
      z-index: 10;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(0.7px);
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      transition: 0s;
  }


  .blur.appear {
    visibility: visible;
    transition: 0.1s;
  }

  
  #no-results-found {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0.6rem;
    /* border: 1px solid black; */
    width: 100%;
  }